// Colors
$aquamarine-crayola: #0c8599;
$aquamarine-blue: #59c5f6;
$aquamarine-green: #88d7c8;
$transparent: transparent;
$black: #000;
$white: #fff;
$mine-shaft: #383838;
$aquamarine-crayola: #6ae4cd;
$downy: #5fcdb9;
$yellow-orange: #fdbc3b;
$red-orange: #fc401e;

$auth-border: $aquamarine-crayola;
$auth-input-border: $black;
$auth-input-underline-focus: $downy;
$auth-link-text: $downy;
$auth-button-text: $black;
$auth-button-primary-bg: $aquamarine-crayola;
$auth-button-primary-bg-hover: $downy;
$auth-button-transparent: $aquamarine-crayola;
$auth-button-transparent-text-hover: $downy;
$auth-title-red: $red-orange;
$auth-title-yellow: $yellow-orange;

$lobby-button-primary-bg: $aquamarine-crayola;
$lobby-info: $mine-shaft;

:export {
    authButtonPrimary: $auth-button-primary-bg;
    authButtonTransparent: $auth-button-transparent;
    lobbyButtonPrimary: $lobby-button-primary-bg;
}

// Breakpoints
$screen-tablet: '(min-width: 768px)';
$screen-desktop: '(min-width: 1440px)';

// Components
$kubick-blue: $aquamarine-blue;
$border-kub: $aquamarine-green;
