@use '@/app/styles/variables.module.scss' as *;

.players {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;

    @media #{$screen-tablet} {
        flex-direction: column;
    }
}