#Это файл пример .env конфигурационного файла. .env файлы нужны для того чтобы удобно задавать
# конфигурационные переменные в проекте. Например у нас есть сервер бэкенда, у него есть определенное API к которому мы кидаем запрос, чтобы каждый раз не писать эту ссылку, мы определяем ее в одном месте, а именно в .env файле
# .env файлы не должны появляться в истории гита, так как содержат чувствительную информацию, но для того чтобы понять, а какие конфигурационные переменные есть у проекты, нужен текущий файл
NEXT_PUBLIC_API_URL=https://example.com # Замените актуальной ссылкой на бэк или мок сервер
